<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Saved!</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
<div><h1>⌈ℕ⌋ noote </h1></div>
    <div class="center">
            <div class="white_box">
                <div class="center">
                    <h1>Your note titled '{{title}}' has been saved!</h1>
                        <a href='/'><div class="button">Ok</div></a>
                </div>
            </div>
    </div>
</body>
</html>